@keyframes gradient {
  0% { transform: scale(1) translate(0, 0); }
  50% { transform: scale(1.1) translate(-20px, -20px); }
  100% { transform: scale(1) translate(0, 0); }
}

.animate-gradient {
  animation: gradient 15s infinite ease-in-out;
}
